<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- 引入vue.js库 -->
        <script src="vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <label>用户名:<input type="text" v-model="loginDto.username"></label>
            <label>密码:<input type="password" v-model="loginDto.password"></label>
            <input type="button" @click="login" value="登录">
        </div>
        <script>
            var vm = new Vue({
                el:"#app",
                data(){
                    return {
                        loginDto:{
                            username:null,
                            password:null
                        }
                    }
                },
                methods:{
                    login(){
                        //在这里进行ajax请求
                        var config = {//定义配置
                        }
                        //使用post请求
                        axios.post("http://localhost:8081/react/api/login",this.loginDto,config)
                            .then(function(res){
                                //获取响应数据
                                console.log(res);
                            })
                    }
                }
            });
        </script>
    </body>
</html>